body{
	margin: 0;
	color: #000000;
	font-family: verdana, arial;
	font-size: 20px;
}

h1{
	font-size: 60px;
	color: blue;
	text-align: center;
}

.teste{
	width: 500px;
}

#titulo{
	font-size: 12px;
}

.div{
	background-color: grey;
	width: 100%;
	height: 60px;
}

#menu{
	width: 100px;
	height: 85px;
	background-color: orange;
	color: black;
	font-size: 20px;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	border: 5px solid black;
	font-style: italic;
}

#menu_div{
	width: 100px;
	height: 60px;
	color: black;
	font-size: 20px;
	float: right;
	border: 5px solid black;
	font-style: italic;
}

.teste_border{

	margin-left: 40%;
	width: 355px;
	border-radius: 5px;
	background-color: grey;
	color: white;
	border: 5px solid red;
}

#google{
	border: 5px solid red;
	border-radius: 5px;
	float: bottom;
	margin-left: 40%;
	margin-top: 10px;

}

.formatacao{
	width: 800px;
	height: 600px;
	color: white;
	margin: auto;
	background-color: grey;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
}

#iframe{
	width: 800px;
	height: 800px;
	margin: auto;
}

.texto{
	width:300px;
	height:1000px;
	background-color: #EEEEEE;
	color:#FF0000;
	font-size:20px;
	font-family:Helvetica, Verdana;
	font-weight:bold;
	text-align:center;
	text-decoration: underline;
	margin: auto;
	margin-top: 20px;
}

.flutuante {
	width: 300px;
	height: 100px;
	background-color: red;
	color: white;
	position: fixed;
	right: 0;
	bottom: 0;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	font-style: italic;
	color: orange;
}
footer{
	width: 795px;
	height: 30px;
	margin: auto;
	background-color: white;
	border: 3px solid grey;
	border-radius: 
	color: grey;
	float: bottom;
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}